In [1]:
import pandas as pd

In [2]:
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sb

In [39]:
df = pd.read_csv('Ads.csv')

In [40]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [41]:
df.drop(columns=['User ID'], inplace=True)

In [42]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [43]:
df=pd.get_dummies(df, columns=['Gender'], drop_first=True)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
 3   Gender_Male      400 non-null    uint8
dtypes: int64(3), uint8(1)
memory usage: 9.8 KB

In [45]:
df.head()

   Age  EstimatedSalary  Purchased  Gender_Male
0   19            19000          0            1
1   35            20000          0            1
2   26            43000          0            0
3   27            57000          0            0
4   19            76000          0            1

In [46]:
X=df.loc[:,df.columns!='Purchased']

In [47]:
print(X)

Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [48]:
Y=df['Purchased']

In [49]:
print(Y)

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [50]:
df.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
Gender_Male        0
dtype: int64

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=0, test_size=0.2)

In [53]:
from sklearn import tree

In [54]:
regtree = tree.DecisionTreeRegressor(max_depth=3)

In [55]:
regtree.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=3)

In [56]:
y_pred = regtree.predict(x_test)

In [57]:
print(y_pred)

[0.         0.12121212 0.         0.         0.         0.
 0.         0.87804878 0.         0.6        0.         0.
 0.12121212 0.12121212 0.         0.87804878 0.12121212 0.
 0.88235294 0.         0.         0.88235294 0.12121212 0.88235294
 0.         0.88235294 0.         0.         0.12121212 0.
 0.         0.12121212 0.6        0.12121212 0.         0.
 0.         0.         0.         1.         0.         0.12121212
 0.         0.         0.87804878 0.         0.12121212 0.88235294
 0.         0.88235294 0.88235294 0.         0.         0.87804878
 0.88235294 1.         0.         0.         1.         0.
 0.         0.6        0.         0.87804878 0.         0.6
 0.         0.         0.12121212 0.12121212 0.87804878 0.
 0.         0.8        0.         0.         0.12121212 0.12121212
 1.         0.88235294]

In [60]:
y_pred=np.rint(y_pred)

In [62]:
print(y_pred)

[0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 1.
 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1.
 0. 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0.
 0. 1. 0. 0. 0. 0. 1. 1.]

In [63]:
from sklearn.metrics import r2_score

In [64]:
r2_score(y_pred,y_test)

0.7619047619047619